
.list-elements:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #0088cc;
}

.code {
  background-color: #ffcc99;
}

.all-triggers {
  background-color: skyblue;
}

#element1-clickbutton  {
  display: none;
}

.all-triggers {
  display: none;
}

.all-element-details {
  display: none;
}
