/*
.list-elements {
  cursor: pointer;
  color: #0088cc;
}
*/
.list-elements:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #0088cc;
}


/*#element1-trigger {
  display: none;
}*/

#element1-details {
  display: none;
}

#element1-clickbutton {
  display: none;
}
