
.list-elements:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #0088cc;
}

.code {
  background-color: #ffcc99;
}

.all-triggers {
  background-color: skyblue;
}

#element1-clickbutton, #element2-trigger, #element2b-trigger, #element3-trigger, #element4-trigger, #element5-trigger, #element6-trigger, #element7-trigger, #element8-trigger  {
  display: none;
}

#element1-details, #element2-details, #element3-details, #element4-details, #element5-details, #element6-details, #element7-details, #element8-details {
  display: none;
}
