
.list-elements:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #ffb861;
}

.code {
  background-color: #ffb861;
}

.all-triggers {
  background-color: #ffb861;
}

#element1-clickbutton  {
  display: none;
}

#random-button {
  background-image: url(../img/dice.png);
  background-repeat: 1;
  color: #ffffff;
  outline-style: solid;
  outline-color: black;
  width: 100%;
  height: 128px;
  text-shadow: 1px 1px 3px #000000;

}

.all-triggers {
  display: none;
}

.all-element-details {
  display: none;
}

#left-col {
background-color: #d49e4e;
}
#right-col {
background-color: #bca6a4;
}

body {
  background-image: url(../img/cupteas.jpg);
  background-repeat: no-repeat;
  font-size : 300%;
  background-size: 160%;
  font-variant: small-caps
  font-family: serif;
}

h1 {
  color: #1d2128;
}

h4 {
  color: #e0e0e0;
    font-size : 200%;
}
#quiz-button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 30px;
  padding: 17px 20px 11px 22px;
  text-decoration: none;
}

#quiz-button:hover {
  background: #28353d;
  background-image: -webkit-linear-gradient(top, #28353d, #3498db);
  background-image: -moz-linear-gradient(top, #28353d, #3498db);
  background-image: -ms-linear-gradient(top, #28353d, #3498db);
  background-image: -o-linear-gradient(top, #28353d, #3498db);
  background-image: linear-gradient(to bottom, #28353d, #3498db);
  text-decoration: none;
}


#whole-quiz {
  display: none;
}

.questions {
  display : none;
}

#introPage {
    display : none;
}
.questionOne {
  display : none;
}

.questionTwo {
  display : none;
}
.questionThree {
  display : none;
}
.questionFour {
  display : none;
}

.questionFive{
  display : none;
}

.thankyou {
  display : none;
}
.jumbotron {
size: 100%;
background-color: #b29492;

}
#jumboid {
  size: 100%;
background-color: #fdfbc1;

}
